@charset "UTF-8";
/*Estilos Gerais*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow: 3px 3px 8px #152491;
    padding: 10px;
}