@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(55, 129, 240);
    color: white;
}

div:hover{
    color: aqua;
}

div > p {
    display: none;
}

div:hover > p{
    display: block;
    color: rgb(49, 23, 194);
    background-color: rgba(189, 124, 87, 0.39);
    width: 300px;
}


