@charset "UTF-8";


/*Todas as demais mídias*/
/*Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celulares: 600px a 768px
Tablets: 768px a 992px
Desktops: 992px a 1200px
Grandes telas: acima de 1200px
*/
@media print {/*IMPRESSÃO*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg);/*desnecessário*/
        
    } 
    main{
        border: 2px solid black;
    }
    main h1 {
        color: black;
        text-shadow: none;
    }
    img {
        display: block;
        margin: auto;
    }
    img#phone{
        display: block;
    }
    img#tablet{
        display: none;
    }
    img#print{
        display: none;
    }
    img#pc{
        display: none;
    }
    img#tv{
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLET*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img {
    display: block;
    margin: auto;
    }
    img#phone{
        display: none;
    }
    img#tablet{
        display: block;
    }
    img#print{
        display: none;
    }
    img#pc{
        display: none;
    }
    img#tv{
        display: none;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) { /*DESKTOP*/
    body {
        background-image: url(../imagens/back-pc.jpg);
       
    }
    img {
    display: block;
    margin: auto;
    }
    img#phone{
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#print{
        display: none;
    }
    img#pc{
        display: block;
    }
    img#tv{
        display: none;
    }
}
@media screen and (min-width: 1200px) { /*TELAS GRANDES*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
   img {
    display: block;
    margin: auto;
    }
        main{
            width: 700px;
        }
    img#phone{
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#print{
        display: none;
    }
    img#pc{
        display: none;
    }
    img#tv{
        display: block;
    }
}
